
    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/users/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/users/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/users/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="/users/js/core.min.js"></script>

    <!-- custom scripts -->
    <script src="/users/js/main.js"></script>
	
	<!-- all js include end -->

</body>

</html>