<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

    <!-- title  -->
    <title>Smartshop - Multipurpose eCommerce Template + Admin</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/users/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/users/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/users/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/users/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/users/css/plugins.css">

    <!-- revolution slider css -->
    <link rel="stylesheet" href="/users/css/rev_slider/settings.css">
    <link rel="stylesheet" href="/users/css/rev_slider/layers.css">
    <link rel="stylesheet" href="/users/css/rev_slider/navigation.css">

    <!-- theme core css -->
    <link href="/users/css/styles-3.css" rel="stylesheet">

    <!-- <script src=
"https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js">
  </script> -->
  <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
 

  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
</head>

<body>
