<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

    <!-- title  -->
    <title>Smartshop - Multipurpose eCommerce Template + Admin</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/users/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/users/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/users/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/users/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/users/css/plugins.css">

    <!-- theme core css -->
    <link href="/users/css/styles.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        <!-- HEADER
        ================================================== -->
        <header class="fixed header-light-nav">


        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="/users/img/bg/page-title.jpg">
            <div class="container">

                <div class="title-info">
                    <h1>Login </h1></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="home-shop-1.html">Home</a></li>
                        <li><a href="#">Login </a></li>
                    </ul>
                </div>

            </div>
        </section>
        
        <!-- LOGIN REGISTER
        ================================================== -->
        <section class="md">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 mb-1-9 mb-lg-0">

                        <div class="common-block">


                            <form action="/login" method="post">

                                <div class="row">

                                    <div class="col-sm-12">

                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" name="email" placeholder="Your email here" required="">
                                        </div>

                                    </div>

                                    <div class="col-sm-12">

                                        <div class="form-group">
                                            <label>Password </label>
                                            <input type="password" class="form-control" name="password" placeholder="Your password here" required="">
                                        </div>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="/mobileverification" class="m-link-muted" style="color: rgb(3,184,243);">Login Using OTP</a>
                                    </div>
                                    <div class="col-sm-6 text-start text-md-end">
                                        <a href="account-password-recovery.html" class="m-link-muted">Forgot password?</a>
                                    </div>

                                </div>

                                <button type="submit" class="butn-style2 mt-4">Login</button>

                               <br><br>
                               <p>Don't have an account?<a class="text-darkyellow" href="/register" style="color: rgb(3,184,243);"><small>Sign Up</small></a></p> 
                               <% if(typeof message !== 'undefined'){
                                %>
                                <div class="alert alert-danger" role="alert">
                                  <%= message %>
                              </div>
                                <%
                              }
                              %>
                            </form>

                        </div>

                    </div>

                    

                </div>
            </div>
        </section>
        

    
    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/users/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/users/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/users/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="/users/js/core.min.js"></script>

    <!-- custom scripts -->
    <script src="/users/js/main.js"></script>
	
	<!-- all js include end -->

</body>

</html>








