

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

    <!-- title  -->
    <title>Smartshop - Multipurpose eCommerce Template + Admin</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/users/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/users/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/users/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/users/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/users/css/plugins.css">

    <!-- theme core css -->
    <link href="/users/css/styles.css" rel="stylesheet">
    <style>
      .flex{
        display: flex;
      }
      .otSc {
          margin: 0;
          margin-right: 16px;
          border: 1px solid;
          padding: 10px 0px;
          font-size: 38px;
          text-align: center;
          width: 100%;
          outline: none;
      }
      .otSc:last-child{
        margin-right: 0;
      }
      .otpCont {
          padding: 40px 40px;
      }   
            
        </style>
</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        <!-- HEADER
        ================================================== -->
        <header class="fixed header-light-nav">

            <section class="md">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 mb-1-9 mb-lg-0">

                            <div class="common-block">

                                <div class="inner-title">
                                    <h4 class="mb-0">Login via OTP</h4>
                                    <p class="mb-0">Enter your OTP</p>
                                </div>

                                <form action="/otp" method="post">

                                    <div class="row">

                                       

                                        <div class="col-sm-12">

                                            <div class="form-group">
                                                
                                              <div class="otpCont flex spaceBetween">
                                                <!-- <div class="otSc"></div> -->
                                                <input class="otSc" type="text" name="otp" maxlength="1">
                                                <input class="otSc" type="text" name="otp" maxlength="1">
                                                <input class="otSc" type="text" name="otp" maxlength="1">
                                                <input class="otSc" type="text" name="otp" maxlength="1">
                                                <input class="otSc" type="text" name="otp" maxlength="1">
                                                <input class="otSc" type="text" name="otp" maxlength="1">
                                                <input type="hidden" name="mno" value="<%= message %>">
                                                <!-- <input class="otSc" type="text" maxlength="1">
                                                <input class="otSc" type="text" maxlength="1"> -->
                                            </div>
                                            </div>

                                        </div>

                                    </div>

                               

                                    <button type="submit" class="butn-style2 mt-4">Verify OTP</button>

                                </form>

                            </div>

                        </div>



                    </div>
                </div>
            </section>

            <!-- jQuery -->
            <script src="/users/js/jquery.min.js"></script>

            <!-- popper js -->
            <script src="/users/js/popper.min.js"></script>

            <!-- bootstrap -->
            <script src="/users/js/bootstrap.min.js"></script>

            <!-- core.min.js -->
            <script src="/users/js/core.min.js"></script>

            <!-- custom scripts -->
            <script src="/users/js/main.js"></script>

            <!-- all js include end -->

            <script>
              // OTP Input
              document.querySelectorAll(".otSc").forEach(function(otpEl) {
                 otpEl.addEventListener("keyup", backSp);
                 otpEl.addEventListener("keypress", function() {
                     var nexEl = this.nextElementSibling;
                     nexEl.focus();
                 })
             })
         
             function backSp(backKey) {
                 if (backKey.keyCode == 8) {
                     var prev = this.previousElementSibling.focus()
                 }
             }
             // OTP Input (End)
           </script>

</body>

</html>