
    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- ALL JS INCLUDE
    ================================================== -->

    <!-- jQuery -->
    <script src="/admin/plugins/jquery/jquery.min.js"></script>

    <!-- popper -->
    <script src="/admin/plugins/popper/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- slimscroll -->
    <script src="/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <!-- uniform -->
    <script src="/admin/plugins/uniform/js/jquery.uniform.standalone.js"></script>

    <!-- switchery -->
    <script src="/admin/plugins/switchery/switchery.min.js"></script>

    <!-- apex chart -->
    <script src="/admin/plugins/apexcharts/apexcharts.js"></script>

    <!-- chart js -->
    <script src="/admin/js/pages/chart.js"></script>

    <!-- theme core scripts -->
    <script src="/admin/js/main.js"></script>

    <script src="lib/chart/chart.min.js"></script>
    <!-- all js include end -->

    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/chartjs.min.js"></script>
   
    <script src="/assets/js/material-dashboard.min.js?v=3.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>


<!-- Mirrored from smartshop.websitelayout.net/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:28 GMT -->
</html>

