
<!-- --------------------- -->
<!-- dashboard -->
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from smartshop.websitelayout.net/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:16 GMT -->
<head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="admin,dashboard" />
    <meta name="description" content="Smartshop - Responsive eCommerce Admin Dashboard" />

    <!-- title  -->
    <title>GreenDoor Admin Dashboard</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/admin/img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="/admin/img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/admin/img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/admin/img/logos/apple-touch-icon-114x114.png" />

    <!-- common plugins -->
    <link rel="stylesheet" href="/admin/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/admin/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/admin/plugins/icomoon/style.css" />
    <link rel="stylesheet" href="/admin/plugins/uniform/css/default.css" />
    <link rel="stylesheet" href="/admin/plugins/switchery/switchery.min.css" />

    <!-- theme core css -->
    <link rel="stylesheet" href="/admin/css/styles.css" />
    <script src="path/to/chartjs/dist/chart.umd.js"></script>


</head>

<body>